html {
	height: 100%
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	overflow-y: hidden;
}


#totalpred, #subtext, .list div, #day input{
border-radius:5px;
cursor:default;
}

#map {
	height: 100%;
	z-index: 0;
	position: relative;
}

#slider {
	z-index: 1;
	width: 400px;
	height: 10px;
	opacity: 1;
	margin:15px auto;
	left:90px;
	
}

.ui-widget{
	font-size:2em;
}

.ui-widget-header{
	background:#599EFF;
}

input {
	border: 0;
	outline: 0;
	background: transparent;
	width: 150px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: large;
	color: black;
}
 

#day{
	
text-align:center;
border-radius:2px;
margin-bottom:-10px;

}
#day input{
color:#fefefe;	
text-transform:uppercase;
font-size:13px;

background:#599EFF;
padding:3px;
text-align:center;
    color: white;
 /*   text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  

border: 1px solid #dbdbdb;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .05), 0 -2px 0 0 rgba(0, 0, 0,0.01) inset;*/
	

}
 

#bg-lines { /*
	background: url("../images/bg_lines.png");
	repeat: 10px 10px;
	z-index: 1;
	position: absolute;
	margin-left: -300px;
	bottom: 5px;
	width: 600px;
	height: 100px;
	opacity: 1;
	
	*/
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .50);
	background:white;
	padding:5px;
	margin:0 auto;
	bottom: 80px;
	width: 530px;
	height: 50px;
	display: block;
	z-index: 1; 
	color: white;
	position: relative;
	 border-radius:4px;
	/*background: rgba(255,255,255,0.4)
	-moz-border-radius: 15px;
	border-radius: 15px;*/
}

#play, #stop{

	position:absolute;
	cursor:pointer;
	border-radius:8px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .05), 0 -2px 0 0 rgba(0, 0, 0,0.01) inset;
}
#play {
	z-index: 1;
	background: url('../images/playb.png') no-repeat;
	background-position:center; 
	background-color:white;

}

#play:hover{
	 
	border:#599EFF 1px solid;
}

#stop {
	z-index: 0;
	background: url('../images/stopb.png') no-repeat;
	background-position:center; 
}

#stop:hover{
	 
	border:#599EFF 1px solid;
}

#play, #stop, #play:hover, #stop:hover{

/* background-size:38px 21px;
margin:10px; */

}

#play, #stop{
	height:50px;
	width:70px;
	
}

#wrapcontrols {
position: relative;
height: 50px;
width: 500px;
float: left;
margin-left: 10px;
display: inline-block;

}

#wrapcontrols div{
	float:left;
	display:inline-block;
	
}



#realTime {
	/*background-image: url(../images/eye2.png); 
	background-repeat: no-repeat;
	background-size:32px 20px;*/
	width:55px!important;
	height:45px;	
	padding:5px;

	
}

#FormRealTime {
	top:15px;
	 
}

#FormRealTime input{
	display:inline;	
	font-size:large;
	margin-top:15px;
	background:white;
}
/*****************************KARAN*************************************/
#statscontainer, #realtimecontainer {
	display: block;
	position: relative;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	width: 230px;
	background:white;
	float: left;
	height: 85%;
	padding: 0.5em;
	margin: 0;
	color: black;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .50);
}

.gmnoprint div div a, .gmnoprint div div span, .gmnoprint div, .gm-style-cc div a{
	display:none;
}


#realtimecontainer{
	
	z-index:99;
	display:none;
}

#realtimecontainer, #statscontainer, #hotspotswrap{
	border-radius:5px;
}

#toggleswrap{
	float:right;
	width:230px;
	
}

#togglescontainer{
	position:absolute;
	height:40px;
	margin:0 auto;
	top:10px;
	
}

#tripsviewbutton{
	background:#599EFF;
	color:#FFF;
}

.toggle {
	text-transform:uppercase;
	float: left;
	font-size:1.4em;
	margin:2px;
	padding:5px;
	display:block;	 
	cursor:pointer;
	width:60px;
	border-radius:4px;
	text-shadow: 0 1px rgba(255, 255, 255, 0.19);
	border: 1px solid #dbdbdb;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .05), 0 -2px 0 0 rgba(0, 0, 0,0.01) inset;
}


#rightbarwrap {
	 
	width: 260px;
	float: right;
	position: absolute;
	top: 80px;
	right: 0;
	 
}
#homewrap {

    width: 130px;
    float: right;
    position: absolute;
    top: 10px;
    right: 0;

}

#hotspotswrap{
	position:absolute;
	float:left;
	z-index:9999;
	background:#599EFF;
	top:10px;
	width: 310px;
	left:20px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .50);
}


#topwrap{
	position: absolute;
	top: 0%;
	left: 0;
	right: 0;
	height: 65px;
	margin-top: 0;
	background: #fff;
	text-align: center;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .50);
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .50);
	z-index: 10000;
	padding:0;

}

#topwrap img{
	margin:15px 0 8px 0;

}
.list {
	margin: 10px auto;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}


.list div, #realTime {
	font-size: 1em;
	display: inline-block;
	text-align: center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.19);
	border: 1px solid #dbdbdb;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .05), 0 -2px 0 0 rgba(0, 0, 0,0.01) inset;	 
	width: 45%;
	margin: 0 auto;
	color: white;
	background: #599EFF;
	padding: 4px;
}


.list div{

	font-size:1.4em;

}

#onedaytrips{
	background:#599EFF;
	color:#fefefe;
    height: 57px;
}


#realTime:hover{
	background:#D6EFFF;
	cursor:pointer;
}

#realTime, .toggle{
color:#599EFF;
}

#container {
	position: relative;
	height: 100%;
	width: auto;
}

.tweetswrap {
	width: 100%;
	max-height: 400px;
	display:none;
	
}

.avatar {
	width: 48px;
}

.twtext,.avatar {
	float: left;
	margin: 2px;
}

.twtext {
	width: 160px;
	font-weight:normal;
}

.tweet {
	margin: 5px;
	clear: both;
	border: 1px #599EFF dotted;
	height: auto;
	overflow: auto;
	font-weight:900;
}

label {
    display: inline-block;
    width: 5em;
	
  }
  
  .ui-tooltip{
  font-size:12px;
  background:rgba(255,255,255,0.9);
  width:auto;
  white-space:nowrap;
  }
  

.username {
	/*color: #1BBFE0;*/
	color: #599EFF;
	font-weight: bold;
	display: block;
	font-size: 1.3em;
	
}

.offer {
	 
	margin: 0 auto;
	height: auto;
	background: #FFD557;
	color: #1F1F1F;
	float: left;
	padding: 3px;
	border-top:#000066 1px solid;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .05), 0 -2px 0 0 rgba(0, 0, 0,0.01) inset;
	
	
}

.gloss{
height:105px;
width:96%;
z-index:10;
/* background-image: -webkit-gradient(
	linear,
	right bottom,
	left top,
	color-stop(0.25, rgba(140,140,140,0.4)),
	color-stop(0.7, rgba(250,250,250, 0.6))
); */

background-color: white;
height: 33px;
opacity: .3;

position:absolute;
top:22px;
}

#totalpred, #onedaytrips {
letter-spacing:-3px;
z-index:9;
font-size: 400%;
background: #599EFF;
border-radius:5px;
width: 48%;
float:left;
margin: 0 auto;
margin-left:3px;
text-align: center;
color:white;
/*margin-top:17px;*/
box-shadow: 0 0 8px 0 rgba(0, 0, 0, .50);
-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .50);

	
}

.subtext{
	font-size:12px;
	text-align:center;
	text-transform: uppercase;
	padding:4px;
	letter-spacing:0px;
}

/* .subtext {
	font-size: 14px;
	margin:0.5px auto;
	width:120px;
	text-align:center;
	text-transform: uppercase;
	background: #599EFF;
	color:white;
	padding: 4px;
	cursor:default;
	border-radius:2px;
} */

.claimbutton {
	margin: 3px;
	border: 1px #CCC solid;
	padding: 2px;
	cursor: pointer;
}

img.offerlogo {
	height: 10px;
	 
	margin-right: 3px;
}



#totalwrap {
	margin: 0 auto;
	overflow: auto;
	text-align:center;
}

#hotspotlist{
	background:#599EFF;
	margin:10px;
}
#hotspotshead h1{
	margin-top:0px;
	background:white;
	color:#599EFF;
	cursor:pointer;
	text-align:center;
	
}
#hotspotlist{
	margin-top:10px;
}

h1 img{
	margin-left:-30px;
	height:15px;
	}

.numoftrips{
	background:#599EFF;
	color:#FFF;
	display:inline-block;
	padding:0 1px 0 1px;
	font-weight:bold;
	border-radius:20px;
	float:right;
	margin-right:15px;
	border:1px solid white;
	padding:0 2px 0 2px;
	text-align:center;
	min-width:25px;
}

#hotspotlist li {
	width:100%;
	color:white;
	list-style-type:none;
	line-height:30px;
	margin:5px 0 5px 10px;
	
}


.markerhead {
	color: blue;
}
