{% load staticfiles %}


<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	
	
	
	<title>GoFloW Arnhem</title>
	<meta name="description" content="">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" media="screen" href="../static/css/superfish.css" />
    <link rel="stylesheet" href="../static/css/nivo-slider.css" media="all"  />
    <link rel="stylesheet" href="../static/css/tweet.css" media="all"  />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" media="all" href="../static/css/lessframework.css"/>


    <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
    <script src="../static/js/modernizr-2.5.3.min.js"></script>
</head>
<body>



	<!-- HEADER -->
	<header>
		
		<!-- header wrapper -->
		<div class="wrapper cf">
			<div id="logo">
				<a href="/" ><img src="../static/img/logo.png" alt="" /></a>
			</div>
		</div><!-- ENDS header wrapper -->
		
		
		
		<!-- nav -->
		<nav class="cf">
			<div class="wrapper cf">
				<ul id="nav" class="sf-menu">
					<li><a href="/">HOME<i><b></b></i></a></li>
					<li><a href="info">INFO<i><b></b></i></a></li>
					<li><a href="map">MAP<i><b></b></i></a></li>
					<li class="current-menu-item"><a href="blog">BLOG<i><b></b></i></a></li>
					<li><a href="contact">CONTACT<i><b></b></i></a></li>
				</ul>
				<div id="combo-holder"></div>
			</div>
		</nav>
		<!-- ends nav -->
			
	</header>
	<!-- ENDS HEADER -->
	
	
	<!-- MAIN -->
	<div role="main" id="main">
		<div class="wrapper cf">
		
			
			<!-- posts list -->
			<div id="posts-list" class="cf"> 
			
				<article>
					<div class="feature-image">
						<a href="01" ><img src="../static/img/blog/hello.jpg" alt="Thumbnail" /></a>
						<div class="entry-date"><div class="month">FEB</div><div class="number">10</div></div>
					</div>
					<div class="excerpt">
						<a href="01" class="post-heading" >HELLO WORLD!</a>
						<p>
							Hi there!
						</p>
					</div>
					<div class="meta">
						<span class="user"><a href="#">By Ion Morozan, </a></span>
						<span class="tags"><a href="#">hi</a>, <a href="#">wifi</a>, <a href="#">DS</a>, <a href="#">extreme</a></span>
					</div>
					<i class="tape"></i>
				</article>
				
				
				
				
				<!-- page-navigation -->
				<div class="page-navigation cf">
					<div class="nav-next"><a href="#">Older Entries</a></div>
					<div class="nav-previous"><a href="#">Newer Entries</a></div>
				</div>
				<!--ENDS page-navigation -->
					
						
		    </div>
			<!-- ENDS posts list -->			
			
		
	  
	  </div>
	</div>
	<!-- ENDS MAIN -->
	
	
	<footer>
		<!-- wrapper -->
		<div class="wrapper cf">
		
		
			<!-- social -->
			<div class="sb-holder cf">
				<ul id="social-bar" class="cf">
					<li class="left-corner"><i></i></li>
                    <li><a href="https://www.facebook.com/wirelessarnhem"  target ="_blank" title="Wireless Arnhem" ><img src="../static/img/social/Facebook.png"  alt="Wireless Arnhem" /></a></li>
					<li><a href="http://acropolis.cs.vu.nl/ewids/"  target ="_blank" title="More info" ><img src="../static/img/social/eiwds2.png"  alt="Ewids" /></a></li>
					<li><a href="http://www.distributed-systems.net/index.php?id=extreme-wireless-distributed-systemS"  target ="_blank" title="More info" ><img src="../static/img/social/ds.png"  alt="Extreme Distributed Systems" /></a></li>
					<li class="right-corner"><i></i></li>
				</ul>
			
			</div>
			<!-- ENDS social -->
			
			
			<!-- widgets -->
			<ul  class="widget-cols cf">

			
			</ul>
			<!-- ENDS widgets -->
			
			
			<div id="footer-bottom">GoFloW designed by <a href="http://bit.ly/ionmorozan" target="_blank" >Ion Morozan</a></div>
		
			
		</div><!-- ENDS wrapper -->

	</footer>


    <!-- JavaScript at the bottom for fast page loading -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery-1.7.1.min.js"><\/script>')</script>

    <!-- scripts concatenated and minified via build script -->
    <script src="../static/js/custom.js"></script>

    <!-- superfish -->
    <script  src="../static/js/superfish-1.4.8/js/hoverIntent.js"></script>
    <script  src="../static/js/superfish-1.4.8/js/superfish.js"></script>
    <script  src="../static/js/superfish-1.4.8/js/supersubs.js"></script>
    <!-- ENDS superfish -->

    <script src="../static/js/tweet/jquery.tweet.js" ></script>
    <script src="../static/js/jquery.isotope.min.js"></script>
    <script src="../static/js/jquery.nivo.slider.js" ></script>
    <script src="../static/js/css3-mediaqueries.js"></script>
    <script src="../static/js/tabs.js"></script>
    <script  src="../static/js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
    <!-- end scripts -->

</body>
</html>
