{% load staticfiles %}


<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	
	
	
	<title>GoFloW Arnhem</title>
	<meta name="description" content="">
	
	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<link rel="stylesheet" media="screen" href="../static/css/superfish.css" />
	<link rel="stylesheet" href="../static/css/nivo-slider.css" media="all"  />
	<link rel="stylesheet" href="../static/css/tweet.css" media="all"  />
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" media="all" href="../static/css/lessframework.css"/>
	
	
	<!-- All JavaScript at the bottom, except this Modernizr build.
	   Modernizr enables HTML5 elements & feature detects for optimal performance.
	   Create your own custom Modernizr build: www.modernizr.com/download/ -->
	<script src="../static/js/modernizr-2.5.3.min.js"></script>
</head>
<body>



	<!-- HEADER -->
	<header>
		
		<!-- header wrapper -->
		<div class="wrapper cf">
			<div id="logo">
				<a href="/" ><img src="../static/img/logo.png" alt="" /></a>
			</div>
		</div><!-- ENDS header wrapper -->
		
		
		
		<!-- nav -->
		<nav class="cf">
			<div class="wrapper cf">
				<ul id="nav" class="sf-menu">
					<li><a href="/">HOME<i><b></b></i></a></li>
					<li class="current-menu-item"><a href="info">INFO<i><b></b></i></a>
					<li><a href="map">MAP<i><b></b></i></a></li>
					<li><a href="blog">BLOG<i><b></b></i></a></li>
					<li><a href="contact">CONTACT<i><b></b></i></a></li>
				</ul>
				<div id="combo-holder"></div>
			</div>
		</nav>
		<!-- ends nav -->
			
	</header>
	<!-- ENDS HEADER -->
	
	
	<!-- MAIN -->
	<div role="main" id="main">
		<div class="wrapper">
		
			<!-- page-content -->
			<div class="page-content">
				
				<!-- entry-content -->	
	        	<div class="entry-content cf">
	        		
	        		<h2>Extreme Wireless Distributed Systems</h2>
	        		<p>
						<b>Going with the Flow in Wireless Arnhem</b> (GoFloW) is part of the COMMIT/EWiDS project. EWiDS
						(Extreme Wireless Distributed Systems) aims to analyze crowds based on data gathered from proximity
						sensors. In its simplest form, a proximity sensor does nothing else but detect the presence of another,
						physically close proximity sensor. As a result, at any moment in time, a crowd can be represented by a
						proximity graph, in which a node represents a sensor (in practice, a person), and a link when two
						sensors are in each others proximity (i.e., that people were standing close to each other). By keeping
						track of these proximity graphs over time, we should be able to capture the dynamics of a crowd. More
						information on EWiDS can be found at <a href="http://www.distributed-systems.net/index.php?id=extreme-wireless-distributed-systemS" target="_blank">ewids.distributed-systems.net</a>.
					</p>
				
					<!-- 1 col -->
						<h3 class="heading">Proposal</h3>
						<p>
							One of the issues with EWiDS is its assumption concerning proximity sensors. In practice, they are
							nonexistent, although next-generation smartphones with Bluetooth Low Energy (BLE) offer an
							interesting alternative. We are therefore seeking other ways for obtaining proximity graphs. One
							approach is to use a combination of hotspots and smartphones, and forms the core of GoFloW.
						</p>
						<p>
							In GoFloW, we will deploy some 40-50 hotspots that are placed in downtown Arnhem, a middle-sized
							city in The Netherlands. These hotspots are equipped with two WiFi interfaces. One interface operates
							in master mode, allowing smartphones to connect to the hotspot and thus to the Internet. The other
							interface operates in monitor mode, which is used to passively and actively monitor WiFi enabled
							devices, regardless their current connectivity status.
						</p>
						<p>
							The WiFi monitor-mode interface allows us to identify smartphones, and forms the basis for
							subsequently tracking smartphones through downtown Arnhem. In GoFloW, we are interested in three
							aspects of tracking the whereabouts of smartphones:
						</p>
							<div>
								<ol>
									<li>Identification of social groups</li>
									<li>The detection of trajectories</li>
									<li>The detection of congested areas</li>
								</ol>
							</div>
						<br/>
						<p>
							The first aspect has already been investigated. The second and third have not and form the topic of the
							present proposal. In particular, we are interested to go beyond detection, and actually be able to predict
							trajectories and congestion.
						</p>
						<p>
							In the following, we define for each subproject three stages. Stages are to end for each project on the
							same date, giving a total of 3 major deliverables throughout the project:
						</p>
					
					<!-- Timeline-->
					<h3 class="heading">Timeline</h3>
					<ul class="tabs">
						<li><a href="#"><span>Stage 1</span></a></li>
						<li><a href="#"><span>Stage 2</span></a></li>
						<li><a href="#"><span>Stage 3</span></a></li>
					</ul>
	
					<div class="panes">
						<div>
								<h4>A prototype system based on 5 hotspots.</h4>
								<h5>Deadline: April 1, 2014 </h5>						
	
						</div>
						<div>
							<h4>A complete prototype based on 13 hotspots</h4>
							<h5>Deadline: June 15, 2014</h5>	
	
						</div>
						<div>
							<h4>A complete, fully operational system based on 50 hotspots</h4>
							<h5>Deadline: September 1, 2014</h5>	
	
						</div>
					</div>
					
					<br/>
					<!-- Projects -->
					<h3 class="heading">Projects</h3>
					<div class="accordion-trigger">Subproject 1: Deployment of hotspots</div>		
					<div class="accordion-container">
						<p>A hotspot consists of a mainboard, ALIX2Dxx, made by PC-Engines (<a href="http://www.pcengines.ch/alix.htm" target="_blank">http://www.pcengines.ch/alix.htm</a>);
						current mainboards are 2D2, 2D3 and 2D13. By adding a miniPCI WiFi card (e.g. Wistron CM9), pigtail,
						POE , power adapter, Compactflash card outdoor housing and antenna, a suitable hardware platform for
						the hotspot is built. As noted, the hotspots need to be equipped with an additional WiFi card to be put
						into monitor mode. Each node runs Pfsense 2.02, an open source customized distribution of FreeBSD
						tailored for use as a firewall and router. Features were added to make it suitable for many basic tasks.
						One of these features is the powerful captive portal.
						</p>
						<p>
						In SP1, hotspots are equipped with an additional WiFi card and prepared for detecting smartphones. We
						distinguish three stages:
						</p>
							<div>
								<ol>
									<li>Deployment of 5 new hotspots, each running in prototype mode:</li>
										<div class="lists-check">
											<ul>
												<li>equipped with an additional WiFi card</li>
												<li>remotely controllable, including uploading of new software.</li>
												<li>running our initial prototype detection software</li>
											</ul>
										</div>
										<li>Extending base of hotspots to 13 in total:</li>
										<div class="lists-check">
											<ul>
												<li>upgrading existing 8 hotspots with additional WiFi card</li>
												<li>upgrading all hotspots with next release of detection software</li>
												<li>testing of 13-node deployment</li>
											</ul>
										</div>
										<li>Full deployment of 50 hotspots:</li>
										<div class="lists-check">
											<ul>
												<li>deployment of another 37 hotspots</li>
												<li>upgrade of all hotspots to latest detection software</li>
												<li>thorough testing of the entire hotspot base.</li>
											</ul>
										</div>
								</ol>
							</div>	
					</div>
					
					<div class="accordion-trigger">Subproject 2: Scalable and robust detection</div>		
					<div class="accordion-container">
						<p>
							The current detection software has been developed and tested for Linux-based systems, and on a
							limited scale. In this subproject, effort is spent on porting the current detection software to the pfsensebased
							environment. More importantly, we need software that can reliably detect many smartphones
							over a short time span. In other words, we need scalable and robust real-time detection software.
						</p>
						<p>
							We initially make the following assumptions:
						</p>	
							<div class="lists-star">
								<ul>
									<li>A hotspot has a range of 75 meters</li>
									<li>A person needs at least a unit disk space with diameter 1 meter to feel comfortable</li>
									<li>People stroll on average with a speed of 3 km/hours</li>
								</ul>
							</div>
						<p>
							A quick-and-dirty calculation gives us that there can be as many 5,625 people with a hotspot range (the
							deviation will be large), and that this community may change every 2-3 minutes. Notably people at the
							edge of a hotspot's range will quickly come and go. This sets the scene for what a hotspot is expected to
							deliver when it comes to detections.
						</p>
						<p>
							Wireless communication is notoriously unreliable due to interference, congestion, weather conditions,
							and so on. In practice, it is often a true challenge to capture data over wireless media. In this subproject,
							we concentrate on the development of a scalable solution toward reliably detecting smartphones using
							our hotspots. Questions that should be addressed are:
						</p>
							<div class="lists-star">
								<ul>
									<li>What makes a detection reliable and can that reliability be improved?</li>
									<li>Are there false positives (detecting a nonexistent smartphone)?</li>
									<li>How to measure false negatives (missed detections)?</li>
								</ul>
							</div>
						<p>
							The goal is to develop a solution that can be shown to adequately address reliability issues, and
							implement that solution in practice. We distinguish three stages:
						</p>
							<div>
								<ol>
									<li>Initial deployment of basic (existing) solution:</li>
										<div class="lists-check">
											<ul>
												<li>porting of existing solution on 5 new hotspots as described for 1.1.</li>
												<li>collecting an initial dataset from those 5 hotspots consisting of raw detections</li>
											</ul>
										</div>
										<li>Development and testing of initial software upgrade:</li>
										<div class="lists-check">
											<ul>
												<li>proposal and implementation of new detection solutions</li>
												<li>porting of solution to the 13 hotspots from 2.2</li>
												<li>an interface between continuous data streams of detections and data-analysis
													component has been developed</li>
												<li>collection of new dataset from new hotspot base and comparison to previous results</li>
												<li>proposal for improvements for detection software</li>
												<li>proposal for simple remote-control software</li>
											</ul>
										</div>
										<li>Development, testing, and full deployment of final solutions to all hotspots</li>
										<div class="lists-check">
											<ul>
												<li>proposals for improvements have been implemented and are running on the hotspots</li>
												<li>continuous stream of smartphone detections is realized from each hotspot and fed into
													the data-analysis component</li>
												<li>implementation of simple, usable, remote-control software</li>
											</ul>
										</div>
								</ol>
							</div>	
					</div>
					
					<div class="accordion-trigger">Subproject 3: Trajectory identification and analyses</div>			
					<div class="accordion-container">
						<p>
							Assuming the existence of a set of smartphone detections from several hotspots is available, the main
							goal of this subproject is to initially develop solutions that will allow the identification and analyses of
							trajectories. Initially, research concentrates on identification of trajectories only. Once that is in place,
							support for analyses can be considered. Typical research questions are: can we identify congestions, are
							there specific patterns to observe, etc. What is needed will be determined in collaboration with
							Foundation Wireless Arnhem and the City of Arnhem. The subproject has the ambition to also predict
							specific patterns, for example, based on additional contextual information (shops, junctions, local
							events). To this end various standard data-mining tools can be applied, including straightforward
							regression analysis and other statistical means. Again, we distinguish three stages:
						</p>
						<div>
								<ol>
									<li>Solutions for trajectory identification</li>
										<div class="lists-check">
											<ul>
												<li>Based on synthetic workloads, a trajectory identification algorithm is developed and
													implemented that can capture multiple trajectories.</li>
												<li>A simple visualization, or other indicator of correctness is provided</li>
											</ul>
										</div>
										<li>Trajectory identification and analysis</li>
										<div class="lists-check">
											<ul>
												<li>Taking traces from 2.1, the algorithms from 3.1 are tested and further developed</li>
												<li>Using synthetic workloads, algorithms for specific situations are developed and
												demonstrated.</li>
											</ul>
										</div>
										<li>Trajectory identification, analysis, and deployment</li>
										<div class="lists-check">
											<ul>
												<li>The algorithms from 3.2 are further developed and brought into a state that they may
													actually be deployed.</li>
												<li>Further, possibly context-aware solutions are developed and brought to a prototype
													state for deployment</li>
											</ul>
										</div>
								</ol>
							</div>
							</div>
							<div class="accordion-trigger">Subproject 4: Visualization</div>			
							<div class="accordion-container">
							<p>
								As a last (smaller) subproject, visualization means need to be developed to visualize trajectories within
								downtown Arnhem. This project entails taking the (location-aware) data from subproject 3 and mapping
								that onto a digital city plan of Arnhem. The visualization will most likely be based on a combination of
								data from subprojects 2 and 3. We anticipate that the visualizer can run in a Web browser.
							</p>
							<div>
								<ol>
									<li>Simple trajectory visualizer</li>
										<div class="lists-check">
											<ul>
												<li>Based on synthetic workloads, knowledge of the placement of hotspots, a simple
												trajectory visualizer is developed</li>
											</ul>
										</div>
										<li>Live trajectory visualizer</li>
										<div class="lists-check">
											<ul>
												<li>Taking raw input from detectors and results from subproject 3, a Web-based visualizer is
												developed that shows, in real-time, initial movements in downtown Arnhem</li>
											</ul>
										</div>
										<li>Full-fledged live trajectory visualizer</li>
										<div class="lists-check">
											<ul>
												<li>A full-fledged version, suited for actual deployment is built and integrated with the
												detection and trajectory identification software.</li>
											</ul>
										</div>
								</ol>
							</div>	
							</div>
							
				    <!-- ENDS Accordions -->
					
					</div>
										
				</div>
				<!-- ENDS entry-content -->
				
				<div class="c-1"></div>
				<div class="c-2"></div>
				<div class="c-3"></div>
				<div class="c-4"></div>
			</div><!-- ENDS page-content -->
			
	  
	  
	  </div>
	</div>
	<!-- ENDS MAIN -->
	
	
	<footer>
	
		<!-- wrapper -->
		<div class="wrapper cf">
		
		
			<!-- social -->
			<div class="sb-holder cf">
				<ul id="social-bar" class="cf">
					<li class="left-corner"><i></i></li>
                    <li><a href="https://www.facebook.com/wirelessarnhem"  target ="_blank" title="Wireless Arnhem" ><img src="../static/img/social/Facebook.png"  alt="Wireless Arnhem" /></a></li>
					<li><a href="http://acropolis.cs.vu.nl/ewids/"  target ="_blank" title="More info" ><img src="../static/img/social/eiwds2.png"  alt="Ewids" /></a></li>
					<li><a href="http://www.distributed-systems.net/index.php?id=extreme-wireless-distributed-systemS"  target ="_blank" title="More info" ><img src="../static/img/social/ds.png"  alt="Extreme Distributed Systems" /></a></li>
					<li class="right-corner"><i></i></li>
				</ul>
			
			</div>
			<!-- ENDS social -->
			
			
			<!-- widgets -->
			<ul  class="widget-cols cf">

			
			</ul>
			<!-- ENDS widgets -->
			
			
			<div id="footer-bottom">GoFloW designed by <a href="http://bit.ly/ionmorozan" target="_blank" >Ion Morozan</a></div>
		
			
		</div><!-- ENDS wrapper -->
		
	</footer>


	<!-- JavaScript at the bottom for fast page loading -->
	
	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../static/js/jquery-1.7.1.min.js"><\/script>')</script>
	
	<!-- scripts concatenated and minified via build script -->
	<script src="../static/js/custom.js"></script>
	
	<!-- superfish -->
	<script  src="../static/js/superfish-1.4.8/js/hoverIntent.js"></script>
	<script  src="../static/js/superfish-1.4.8/js/superfish.js"></script>
	<script  src="../static/js/superfish-1.4.8/js/supersubs.js"></script>
	<!-- ENDS superfish -->
	
	<script src="../static/js/tweet/jquery.tweet.js" ></script>
	<script src="../static/js/jquery.isotope.min.js"></script>
	<script src="../static/js/jquery.nivo.slider.js" ></script>
	<script src="../static/js/css3-mediaqueries.js"></script>
	<script src="../static/js/tabs.js"></script>
	<script  src="../static/js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
	<!-- end scripts -->

</body>
</html>
