<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Going with the Flow in Wireless Arnhem</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script src="http://maps.google.com/maps/api/js?sensor=false"
            type="text/javascript"></script>

    <link rel="stylesheet"
          href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css"
          href="../static/css/style2.css" media="screen" />
    <link rel="stylesheet" type="text/css"
          href="../static/css/screen.css" media="screen" />

</head>

<div id="container">
    <div id="hotspotswrap">
        <div id="hotspotshead" title="Hotspots Arnhem (click to collapse/expand)"><h1><img src='../static/img/hotspoticon.png' height="20px"   /> HOTSPOTS  ARNHEM</h1>

            <ol id="hotspotlist">
                {% for h in hotspots%}
                    <li>#{{forloop.counter}} {{h.2}}<span class="numoftrips">{{h.3}}</span></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div id="map"></div>


    <div id="homewrap">

        <div title="Go Home" id="onedaytrips">
            <a href="/" ><img src="../static/img/map/home.png" /></a>
        </div>
    </div>
</div>

<script  type="text/javascript">
    var hotspots = {{hotspots | safe }};
    console.log(hotspots);

    var paths = {{paths | safe }};
    console.log(paths);

    //call every 60sec
    setInterval("CalledPeriodically();",60000);


</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="../static/js/track.js"></script>
<script type="text/javascript" src="../static/js/map.js"></script>
<script type="text/javascript" src="../static/js/interaction.js"></script>




</body>
</html>